/* RESET + BASE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

body {
  background: #f2f4f7;
}

/* CONTAINER */
/* .container {
  background: #fff;
  width: 740px;
  padding: 32px 40px;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  box-shadow: 0 4px 14px rgba(0,0,0,0.05);
} */

/* TITULOS */
h1 {
  font-size: 26px;
  color: #222;
  margin-bottom: 8px;
}

.subtitulo {
  color: #555;
  margin-bottom: 22px;
  font-size: 15px;
}

/* DATA & HORA */
.datahora-wrapper {
  font-weight: 600;
  margin-bottom: 15px;
  color: #333;
}

/* FORM */
label {
  font-weight: 600;
  font-size: 15px;
  margin-bottom: 6px;
  display: block;
}

input {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 15px;
  margin-bottom: 14px;
  transition: 0.2s;
}

input:focus {
  border-color: #0077ff;
  box-shadow: 0 0 0 2px rgba(0,119,255,0.18);
  outline: none;
}

/* BOTÃO */
button {
  background: #0077ff;
  color: #fff;
  padding: 11px 22px;
  border: none;
  border-radius: 8px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.2s;
}

button:hover {
  background: #005fcc;
}

/* RESULTADO */
.resultado {
  margin-top: 25px;
  background: #f8fafc;
  padding: 18px;
  border-radius: 10px;
  border: 1px solid #e2e8f0;
}

.resultado p {
  margin-bottom: 6px;
  font-size: 15px;
}

/* RODAPÉ */
.footer {
  margin-top: 28px;
  text-align: center;
  color: #777;
  font-size: 14px;
}
